.gwt-TextBox,
.gwt-PasswordTextBox {
	width:150px;
}
.formPanel {
	margin:5px;
}
.error {
	color:#F00;
}
.info {
	border:1px solid #6AF;
	background:#CEF;
}

.contentPanel {
	padding: 20px;
}



.buttonGrid {
	text-align: center;
}


body {
    background: red;
}

#menu {  
	background: #EEE8CD;
	width: 150;
    float: left;
    text-align: center;
}

#content {
	background: #FFEFD5;
	width: 550px;	
    align: center;
    float: left;
    text-align: center;
}
#information {
	background: #EEE8CD;
    width: 200px;
    heigth: 100%;
    margin-left: 750px; 
    text-align: justify;
}