.gwt-TextBox,
.gwt-PasswordTextBox {
	width:150px;
}
.formPanel {
	border:1px solid #000;
	margin:5px;
}
.error {
	color:#F00;
}
.info {
	border:1px solid #6AF;
	background:#CEF;
}

div#content {
    wigth: 100%;
    height: 100%;
    background: #EEE8CD;
    align: center;
}