.gwt-TextBox,
.gwt-PasswordTextBox {
	width:150px;
}
.formPanel {
	border:1px solid #000;
	margin:5px;
}
.error {
	color:#F00;
}
.info {
	border:1px solid #6AF;
	background:#CEF;
}

#menu {
    background: black;
    float: left;
}

#content {
    float: left;
}

#information {
	float: right;
    background: blue;
    color: white;
    width: 200px;
    height: 600px;
}